.carros-bg:nth-child(odd) {
  background-color: var(--cor-4);
}
.carros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.carros-imagem{
  display: grid;
 
}
.carros-imagem img{
  grid-area: 1/1;
}
.carros-imagem span{
  background-color: var(--cor-4);
  grid-area: 1/1;
  place-self: start end;
  padding:7px 14px 7px 7px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 4px 0 0 4px;
}
.carros-conteudo{
  display: grid;
  grid-template-columns: 1fr auto;
  /*gap: 20px;*/
}
.carros h2, p{
  grid-column: 1 / -1;
}
.carros h2{
  margin-bottom: 20px;
}
.carros a{
  place-self: end;
}
.carros ul{
  display: grid;
  gap: 10px;
}
.carros li{
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 15px;
}
.carros li::before{
  content: "";
  display:block;
  width: 10px;
  height: 10px;
  background-color: var(--cor-0);
  position: absolute;
  border-radius: 50%;
  left: -1px;
}
@media (max-width: 800px){
  .carros{
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .carros-conteudo{
    gap: 10px;
  }
}
@media (max-width: 600px){
  .carros-conteudo{
    grid-template-columns: 1fr;
  }
  .carros ul{
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
  }
  .carros a{
    place-self: start;
    
  }
}
